@model MagniPi.Models.PostLogin.Event.EventViewModel

<script src="~/Scripts/Modules/Event/event-attendance-event.js"></script>
<script src="~/Scripts/Modules/Event/event-attendance-method.js"></script>

<style>
    .scroll-bar {
        height: 400px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
</style>

<div class="content-wrapper">

    <div class="container-fluid">

        @{Html.RenderPartial("_ServerMessage");}

        <!-- Content Header (Page header) -->

        <section class="content-header">
            <h1>
                Event Attendance
            </h1>
            <ol class="breadcrumb">
                <li>Admin</li>
                <li class="active">Event Attendance</li>
            </ol>
        </section>

        <form id="frmEventAttendance">
            <section class="content">

                <div class="row">
                    <div id="divScrollContainer" class="col-md-12">
                        <h2 id="" class="page-header">Event Attendance Details</h2>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="box box-default">
                                    <div class="box-body">

                                        <div class="row">
                                            @*<div class="col-md-12">*@

                                                <div class="col-md-12">
                                                    <h3 id="" class="page-header">Customer</h3>

                                                    <div class="form-group">
                                                        <label for="txtEventName" style="color: #333" class="">Filter Event</label>
                                                        <input type="text" class="form-control input-sm" name="" id="txtEventName" value="@Model.Event.Event_Name" placeholder="Enter Event Name" />

                                                        <input type="hidden" id="hdnEvent_Id" value="@Model.Event.Event_Id" name="Event.Event_Id" class="auto-complete-value" />
                                                        <input type="hidden" id="hdnEvent_Name" value="@Model.Event.Event_Name" name="Event.Event_Name" class="auto-complete-label">

                                                        <input type="hidden" id="hdntempCust_Id" value="" name="Temp_Cust_Id" />
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="txtDate" style="color: #333" class="">Event Day</label>
                                                        <select id="drpDate" class="form-control input-sm" name="EventDay">
                                                            @*@if (Model.eventdates.Count > 0)
                                                            {
                                                                foreach (var item in Model.eventdates)
                                                                {
                                                                    <option value="@(Convert.ToDateTime(item.Day).ToString("MM/dd/yyyy"))">@(Convert.ToDateTime(item.Day).ToString("dd/MM/yyyy"))</option>
                                                                }
                                                            }*@
                                                        </select>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="btn btn-group">
                                                            <button type="button" id="btnViewAttendance" class="btn btn-warning btn-sm" style="display:none;">View Attendance</button>
                                                        </div>
                                                    </div>

                                                    <div id="dvEventCustomers">

                                                    </div>

                                                </div>

                                            @*</div>*@

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-9">
                                <div class="box box-default">
                                    <div class="box-body">
                                        <input type="hidden" id="hdfCurrent_Page" value="" />
										 <input type="hidden" id="hdfTotal_Pages" value="" />
                                        <div class="row">
                                            <div class="col-md-12">

                                                <div class="col-md-12">
                                                    <h2 id="" class="page-header">Event Member Attendance</h2>

                                                    <input type="hidden" id="hdnMember_Id" value="" name="customer.member.Member_Id" />

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="box box-solid">

                                                               
                                                                    <div class="box-body table-responsive no-padding mdm-table">
                                                                        @*<table class="table table-striped" id="tblEventMemberAttendance">*@
																		<table class="table table-striped">
                                                                            <tr id="subhead">
                                                                                <th style="width:40%">Member Name</th>
                                                                                <th style="width:20%">Day</th>
                                                                                <th style="width:20%">Attended</th>
                                                                                <th style="width:20%">Unattended</th>

                                                                            </tr>

																			<tr>
																				<td colspan="4">
																					 <div id="dvScroll">
																						 <table class="table table-striped" id="tblEventMemberAttendance">
																						</table>
																					</div>
																				</td>
																			</tr>

                                                                        </table>
                                                                        <p id="loading" style="text-align:center; display:none;">
                                                                            <img src="~/Images/loading-small.gif" alt="Loading…" />
                                                                        </p>
                                                                    </div>
                                                                @*</div>*@
                                                               
                                                            </div>
                                                            <!-- /.box -->
                                                        </div>
                                                        <!-- /.col (left) -->
                                                    </div>

                                                    <div class="row">
                                                        <div class="form-group">
                                                            <div class="btn btn-group">
                                                                <button type="button" id="btnSave" class="btn btn-success btn-sm" style="display:none;">Save</button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>



                    </div>
                </div>

            </section>
        </form>

    </div>
</div>