@model MagniPi.Models.PreLogin.HomeViewModel

<div class="content-wrapper">

    <div class="container-fluid">

        @*@{Html.RenderPartial("_ServerMessage");}*@

        <!-- Content Header (Page header) -->

        <section class="content-header">
            <h1>
                Blog
            </h1>
            <ol class="breadcrumb">
                <li>Admin</li>
                <li class="active">Blog</li>
            </ol>
        </section>

        <form id="frmBlogDetails">
            <section class="content">
                <div class="row">
                    <div id="divScrollContainer" class="col-md-12">
                        <h2 id="" class="page-header">Blog Details</h2>

                        <div class="box box-default">
                            <div class="box-body">

                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="article">
                                            <div class="article_head">
                                                <div class="article_date">
                                                    <span>@(Model.blog.Created_On == null ? "" : Convert.ToDateTime(Model.blog.Created_On).ToString("dd-MM-yyyy"))</span>
                                                    
                                                </div>
                                                <div class="article_title">

                                                    <h2 class="readblog">@Model.blog.Title</h2>

                                                    <p class="sub_head">Posted by <a href="#">User Name</a> </p>

                                                </div>
                                            </div>
                                            <div class="article_body">
                                                <div class="row">
                                                    <div class="col-md-12" style="text-align:center">

                                                        <a href="@Model.blog.Header_Image_Url">
                                                            <img src="@Model.blog.Header_Image_Url" style="height:250px; width:250px" />
                                                        </a>

                                                    </div>
                                                </div>

                                                <p>@Html.Raw(Model.blog.Blog_Template)</p>

                                                <div class="row">

                                                    <div class="col-md-12">

                                                        @*<a href="@Url.Action("Index", "Blog")" id="btnEdit" class="btn btn-warning btn-sm">Edit</a>*@

                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </form>

    </div>
</div>
