@model MagniPi.Models.PreLogin.HomeViewModel

<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Event</h1>
                        <p>Event Details</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*@{Html.RenderPartial("_ServerMessage");}*@



 <section id="portfolio-information" class="padding-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img src="@Model.Event.Attachment_Url" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6">
                    <div class="project-name overflow">
                        <h2 class="bold">@Model.Event.Event_Name </h2>
                        <ul class="nav navbar-nav navbar-default">
                            @*<li><a href="#"><i class="fa fa-clock-o"></i>February11,2014</a></li>
                            <li><a href="#"><i class="fa fa-tag"></i>Branding</a></li>*@

							@if (Model.Event.eventdates.Count > 0)
                                    {
                                        foreach (var item in Model.Event.eventdates)
                                        {
											<li><a href="#"><i class="fa fa-clock-o"></i>@(Convert.ToDateTime(item.Day).ToString("dd MMM yyyy"))</a></li>	
                                            
                                        }
                                    }

                        </ul>
                    </div>
                    <div class="project-info overflow">
                        <h3>Event Description</h3>
                        <p>@Model.Event.Description</p>
                    </div>
                    
					<div class="client overflow">
                        <h3>Event Type : </h3>
						 <ul class="nav navbar-nav navbar-default">
                            <li><a href="#"><i class="fa fa-bolt"></i>@Model.Event.Event_Type_Str</a></li>
                        </ul>
                    </div>

					<div class="client overflow">
                        <h3>Event Address : </h3>
						<ul class="nav navbar-nav navbar-default">
                            <li><a href="#"><i class="fa fa-map-marker"></i>@Model.Event.Location</a></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>