@model MagniPi.Models.PostLogin.Customer.CustomerViewModel

<script src="~/Scripts/Modules/Customer/customer-validation.js"></script>
<script src="~/Scripts/Modules/Customer/customer-event.js"></script>

<div class="content-wrapper">

    <div class="container-fluid">

        @{Html.RenderPartial("_ServerMessage");}

        <!-- Content Header (Page header) -->

        <section class="content-header">
            <h1>
                Customer
            </h1>
            <ol class="breadcrumb">
                <li>Admin</li>
                <li class="active">Customer</li>
            </ol>
        </section>

        <form id="frmAddEditCustomer">
            <section class="content">
                <div class="row">
                    <div id="divScrollContainer" class="col-md-12">
                        <h2 id="" class="page-header">Add Edit Customer</h2>

                        <div class="box box-default">

                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box box-solid">

                                            <input type="hidden" name="customer.Customer_Id" value="@Model.customer.Customer_Id" id="hdnCustomer_Id" />
                                            <input type="hidden" name="customer.member.Member_Id" value="@Model.customer.member.Member_Id" id="hdnMember_Id" />
                                            <input type="hidden" name="customer.member.Customer_Id" value="@Model.customer.member.Customer_Id" id="hdnMember_Customer_Id" />

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="box-header">
                                                        <div class="form-group">
                                                            @{
                                                                if (Model.customer.Customer_Id != 0)
                                                                {
                                                                    if (Model.customer.Is_Indivisual)
                                                                    {
                                                                        <input type="radio" class='iradio-list' name="Is_Indivisual" value="True" checked disabled />
                                                                        <label for="rIndivisual" style="color: #333">Indivisual</label>
                                                                        @:&nbsp;&nbsp;&nbsp;&nbsp;
                                                                        <input type="radio" class='iradio-list' name="Is_Indivisual" value="False" disabled />
                                                                        <label for="rCorporate" style="color: #333">Corporate</label>
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="radio" class='iradio-list' name="Is_Indivisual" value="True" disabled />
                                                                        <label for="rIndivisual" style="color: #333">Indivisual</label>
                                                                        @:&nbsp;&nbsp;&nbsp;&nbsp;
                                                                        <input type="radio" class='iradio-list' name="Is_Indivisual" value="False" checked disabled />
                                                                        <label for="rCorporate" style="color: #333">Corporate</label>
                                                                    }
                                                                    <input type="hidden" name="customer.Is_Indivisual" id="hdnCustomerType" value="@Model.customer.Is_Indivisual.ToString()" />
                                                                }
                                                                else
                                                                {
                                                                    <input type="radio" class='iradio-list' name="Is_Indivisual" value="True" checked />
                                                                    <label for="rIndivisual" style="color: #333">Indivisual</label>
                                                                    @:&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    <input type="radio" class='iradio-list' name="Is_Indivisual" value="False" />
                                                                    <label for="rCorporate" style="color: #333">Corporate</label>
                                                                    <input type="hidden" name="customer.Is_Indivisual" id="hdnCustomerType" value="True" />
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="Indivisual">

                                                <div id="dvHidden">

                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="txtFirstName" style="color: #333" class="">Fisrt Name</label>
                                                            <input type="text" class="form-control input-sm" name="customer.member.First_Name" id="txtFirstName" value="@Model.customer.member.First_Name" placeholder="Enter Fisrt Name" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="txtLastName" style="color: #333" class="">Last Name</label>
                                                            <input type="text" class="form-control input-sm" name="customer.member.Last_Name" id="txtLastName" value="@Model.customer.member.Last_Name" placeholder="Enter Last Name" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="txtEmail" style="color: #333" class="">Email</label>
                                                            <input type="text" class="form-control input-sm" name="customer.member.Email" id="txtEmail" value="@Model.customer.member.Email" placeholder="Enter Email" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="txtContact" style="color: #333" class="">Contact</label>
                                                            <input type="text" class="form-control input-sm" name="customer.member.Contact" id="txtContact" value="@Model.customer.member.Contact" placeholder="Enter Contact" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="txtAddress" style="color: #333" class="">Address</label>
                                                            <textarea class="form-control input-sm" id="txtAddress" name="customer.member.Address" placeholder="Enter Address">@Model.customer.member.Address</textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="rGender" style="color: #333" class="">Gender</label>
                                                            <div class="form-group">
                                                                @if (Model.customer.member.Gender == "M")
                                                                {
                                                                <input type='radio' name="customer.member.Gender" id='rMale' class='iradio-list' value="M" checked />
                                                                }
                                                                else
                                                                {
                                                                <input type='radio' name="customer.member.Gender" id='rMale' class='iradio-list' value="M" />
                                                                }
                                                                <label for="rGender" style="color: #333">Male</label>
                                                                &nbsp;&nbsp;&nbsp;
                                                                @if (Model.customer.member.Gender == "F")
                                                                {
                                                                <input type='radio' name="customer.member.Gender" id='rFemale' class='iradio-list' value="F" checked />
                                                                }
                                                                else
                                                                {
                                                                <input type='radio' name="customer.member.Gender" id='rFemale' class='iradio-list' value="F" />
                                                                }
                                                                <label for="rFemale" style="color: #333">Female</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="chkIsActive" style="color: #333" class="">Is Active</label><br />
                                                            @if (Model.customer.member.Is_Active)
                                                            {
                                                            <input type="checkbox" class="" id="chkIsActive" name="chkIs_Active" checked />
                                                            }
                                                            else
                                                            {
                                                            <input type="checkbox" class="" id="chkIsActive" name="chkIs_Active" />
                                                            }
                                                            <input type="hidden" id="hdnIs_Active" name="customer.member.Is_Active" value="@Model.customer.member.Is_Active.ToString()" />
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div id="Corporate" style="display:none">

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="txtCorporateName" style="color: #333" class="">Corporate Name</label>
                                                            <input type="text" class="form-control input-sm" name="customer.Customer_Name" id="txtCorporateName" value="@Model.customer.Customer_Name" placeholder="Enter Corporate Name" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="txtDescription" style="color: #333" class="">Description</label>
                                                            <textarea class="form-control input-sm" id="txtDescription" name="customer.Description" placeholder="Enter Description">@Model.customer.Description</textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="txtAddress" style="color: #333" class="">Address</label>
                                                            <textarea class="form-control input-sm" id="txtAddress" name="customer.Address" placeholder="Enter Address">@Model.customer.Address</textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="txtContact" style="color: #333" class="">Contact</label>
                                                            <input type="text" class="form-control input-sm" name="customer.Contact" id="txtContact" value="@Model.customer.Contact" placeholder="Enter Contact" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="chkIsActive" style="color: #333" class="">Is Active</label><br />
                                                            @if (Model.customer.Is_Active)
                                                            {
                                                            <input type="checkbox" class="" id="chkIsActive" name="chkIs_Active1" checked />
                                                            }
                                                            else
                                                            {
                                                            <input type="checkbox" class="" id="chkIsActive" name="chkIs_Active1" />
                                                            }
                                                            <input type="hidden" id="hdnIs_Active1" name="customer.Is_Active" value="@Model.customer.Is_Active.ToString()" />
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="btn-group">
                                                        <button type="button" id="btnSave" class="btn btn-success btn-sm">Save</button>
                                                        <a href="@Url.Action("Search", "Customer")" type="button" id="btnCancel" class="btn btn-warning btn-sm">Cancel</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- /.box -->
                                    </div>
                                    <!-- /.col (left) -->
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </section>
        </form>

    </div>
</div>